__pychache__/*
Models/*

picked_sliced/
*.0
*.pth
*.pyc
GTR-3D-plot-test.html
.gitignore
kcriss.code-workspace
prepare_wav.sh
audio-slicer/*
/home/kcriss/artivoice/inference_test.py
/home/kcriss/artivoice/kcriss.code-workspace
/home/kcriss/artivoice/label_plot.py
/home/kcriss/artivoice/prepare_wav.sh
/home/kcriss/artivoice/resample.py
/home/kcriss/artivoice/t5_test2.py
/home/kcriss/artivoice/T5_testing.ipynb
/home/kcriss/artivoice/t5_tokenizer_test.py
/home/kcriss/artivoice/tokenization_test.py
/home/kcriss/artivoice/whisper_transcribe.py
/home/kcriss/artivoice/label_verification/*
label_verification/label_verify.csv
label_verification/label_verify.ipynb

